.footer{
    background-image: url(/assets/image/footer--top__bg-image.svg);
    background-repeat: no-repeat;
    background-color: #141414;
    height: 1474px;

    .footer--top{

        height:331px;
        .footer--top__h2{
            font-size: 30px;
            font-weight: bold;
            line-height: 46px;
            color:#e8aa31;
            text-align: center;
            padding-top: 30px;
        }

        .footer--top__desc{
            font-size: $font-size;
            line-height: 27px;
            color:#fff;
            margin-top: 30px;
            text-align: left;
        }
    }
}

.footer--main{
    .footer--main__list1{
        display: flex;
        /* align-items: center; */
        gap: 133px;

        .footer--main__item1{
            width: 204px;
            margin-top: 102px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .footer--main__item__h3_1{
                font-size: $font-size;
                line-height: auto;
                color:$font-color;
                font-weight: 400;
                margin-bottom: 15px;
            }

            .footer--main__item__daesc1{
                font-size: $font-size;
                line-height: 27px;
                color:#ffffffd5;
                
                gap: 20px;

            }
        }
    }

    .footer__hr1{
        height: 2px;
        background-color: #8a8a8a;
        margin-top: 30px;
        margin-bottom: 35px;
    }
}

.footer--main__list2{
    .footer--main__item2{
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        .footer--main__item__h3_2{
            font-size: $font-size;
            line-height: auto;
            color:$font-color;
            font-weight: 400;
            margin-bottom: 15px;
        }

        .footer--main_item__span{
            display: flex;
            align-items:center;
            gap: 16px;
        }

        .footer--main__desc2{
            font-size: $font-size;
                line-height: 27px;
                color:#ffffffd5;                
                gap: 20px;

        }

        .location{
            width: 149px;
        }

        .timer{
            width: 161px;
        }

        .span__gap{
            gap: 21px;
        }
    }
}


.footer--main__list2{
    display: flex;
    gap: 61px;

    .footer--main__item2{
        .footer--main__item__daesc2{
            font-size: $font-size;
            line-height: 27px;
            color:#ffffffd5;                
            width: 318px;
        }
    }
}

.footer__input{
    width: 305px;
    height: 50px;
    background-color: #201f1f;
    outline: none;
    border:2px solid #fff;
    border-radius:3px;
    color:#fff;
}

.footer__input[placeholder]{
    padding-left: 20px;
    font-size: 16px;
}

.footer--main__input__btn{
    width: 50px;
    height: 50px;
    color:#fff;
    background-color: #e8aa31;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border:3px solid #e8aa31;
    outline: none;
    cursor: pointer;
}

.footer__input2{
    width: 16px;
    height: 16px;
    background-color: #201f1f;
    margin-top: 28px;
    margin-right: 12px;
}

.footer--bottom{
    display: flex;
    /* align-items:center; */
    justify-content: space-between;
    .footer--bottom__desc{
        width: 817px;
        font-size: 14px;
        line-height: 27px;
        color:#ffffffd5;                
    }

    .footer--bottom__desc2{
        font-size: 14px;
        line-height: 27px;
        color:#ffffffd5;                
    }
}

.lable_text{
    margin-left: 32.5px;
}

@media only screen and (max-width:360px){
    .footer--top__desc{
        width: 262px;
        display: block;
        height: 744px !important;
        margin-bottom: 120px !important;
        text-align: center !important;
        margin-left: 30px !important;
    }

    .footer--main__list1{
        display: flex;
        flex-direction: column;
        gap: -10px !important;
        margin-top: 710px;
    }

    .footer{
        height: 3634px;

    }

    .footer--main__item1{
        margin-top: -70px !important;
        text-align: center;
        margin-left: 60px !important;

       }

    .footer--main__list2{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .footer--main__item2{
        margin-left: 7px ;
        text-align: center !important;
    }

    .footer--main__item2_1{
        margin-left: 60px !important;
    }

    .footer__input{
        width: 224px;
        margin-left: -40px !important;
    }

    .footer--bottom{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .footer--bottom__desc{
        width: 275px !important;
        text-align: center;
        margin-left: 25px;
    }

    .footer--bottom__desc2{
        width: 275px !important;
        text-align: center;
        margin-left: 25px;
    }
}